<% @newtweets.order(created_at: :desc).each do |tweet|%>
<div class="mb-3 card card-body tweet-box">
    <div class="mb-3">
        <div class="mb-2">
        <% @users.each do |user| %>
            <% if tweet.user == user.email %>
                <%# image_tag user.avatar_url, class: 'avatar' %>
                <%= image_tag "data:avatar/jpeg;base64,#{Base64.encode64(user.avatar.read)}", class: 'avatar' %>
                <strong class = 'tweet-user'>
                    <%= link_to "#{tweet.user}", "/user/#{user.id}"%>
                    <% if user.vip? %>
                        <span class="VIP-p">ПРЕП</span>
                    <% elsif user.email == 'dorogino@gmail.com' || @user.email == 'amigo2542@gmail.com' %>
                        <span class="VIP-p">ADMIN</span>
                    <% end %>
                </strong>
            <% end %>
        <% end %>
        </div>
        <br>
        <p class="tweet-body"><%= tweet.body %></p>
        <% if tweet.user == Current.user.email || Current.user.email == 'dorogino@gmail.com' || user.email == 'amigo2542@gmail.com' %>
            <%= link_to "Изменить занятие", edit_tweet_path(tweet) %>
        <% end %>
    </div>
</div>
<% end %>


