<div class="d-flex justify-content-between align-items-center">
    <h1>Занятия</h1>

    <%= link_to 'Добавить занятие', new_tweet_path, class: 'btn btn-primary' %>
</div>

<div class="mb3">
<%= render 'tweets' %>
</div>
