.comment-section {
   padding-top: 10px;
}

.comment {
    display: flex; 
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.Com-Avatar {
    max-height: 45px;
    max-width: 45px;
    margin-right: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%; 
}

.comment-content {
    display: flex; 
    flex-direction: column;
}

.User h4 {
    font-size: 15px;
    margin: 0; 
    color: #333
}

