body {
    padding-top: 70px; /* Adjust this value to match the height of your navbar */
  }
  


  .remove-styles {
    border: none;
    background: none;
    outline: none;
    cursor: pointer; /* If you want the button to be clickable */
  }
  
.wall-box {
    width: 800px;
    position: relative;
/*    transform: translate(-50%, 0%);
    left: 50%; */
    
}

._post_content {
    margin-bottom: 10px;
}

.content {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.PostHeader {
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex; 
    align-items: center; 
}

.Avatar {
    position: relative;
    max-height: 50px;
    max-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    margin-right: 10px;
}





.PostHeaderInfo h5 {
    font-size: 16px; 
    margin: 0; 
    color: #333
}



.wall_text {
   margin-bottom: 10px;
}


.wall_photo {
/*     max-height: 100%;
    max-width: 100%; */
    margin-bottom: 20px;
}

.PhotoOnPost {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.btn_wrap {
    display: flex;
    justify-content: flex-start;
}
.btns {
    display: flex;
    align-items: center;
}
.like-button, .comment-button, .share-button, .trash-button, .edit-button {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.button-heart, .fa-share, .fa-comment, .fa-heart, .fa-heart-o, .fa-trash, .fa-edit {
    background-color: transparent;
    border: none;
    color: #ccc;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    transition: color 0.2s ease-in-out;
}
.button-heart:hover, .fa-share:hover, .fa-comment:hover, .fa-heart:hover, .fa-heart-o:hover, .fa-trash:hover, .fa-edit:hover {
    color: #130f11;
}
.like_count, .comments-count, .share-count {
    margin-left: 5px;
    font-size: 16px;
}

.fa-bars {
    background-color: transparent;
    border: none;
    color: #3a2727;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    transition: color 0.2s ease-in-out;
}

.like-button button {
    all: unset;
  }

  .trash-button button {
    all: unset;
  }

.back-button {
  position: fixed;
  top: 15;
  left: 10px;
  border: none;
  text-decoration: none;
}

@media only screen and (max-width: 400px) {
    .wall-box {
        position: relative;
        width: 380px;
        left: -10px; 
    }
    .fa-edit {
        color: #130f11;
    }
    .subscribe-count {
        font-weight: bold;
        color: #1273ff;
    }
    .vip-btn {
        position: relative;
    }
    .fa-bars {
        position: relative;
    }
    .VIP-p {
font-size: 17px;
    display: inline-block;
    padding: 0.1em 0.3em;
    border-radius: 1em;
    background-color: #FFD700;
    color: #333;
    font-weight: bold;
    text-transform: downcase;
    letter-spacing: 0.1em;
      }
}

@media only screen and (max-width: 500px) {
    .wall-box {
        position: relative;
        width: 380px;
/*         left: -10px; */
    }
    .profile-email {
        top: 0px;
        left: 0px;
        position: relative;
        font-size: 5px;
        /*   left: 212px;
        top: 200px; */
        color: rgb(105, 157, 202);
    }
    .fa-edit {
        color: #130f11;
    }
    .subscribe-count {
        font-weight: bold;
        color: #1273ff;
    }
    .vip-btn {
        position: relative;
        top: -62px;
        left: 142px;
    }
    .fa-bars {
        position: relative;
    }
    .VIP-p {
        font-size: 17px;
        display: inline-block;
        padding: 0.1em 0.3em;
        border-radius: 1em;
        background-color: #FFD700;
        color: #333;
        font-weight: bold;
        text-transform: downcase;
        letter-spacing: 0.1em;
      }
}


@media only screen and (min-width: 768px) {
    .wall-box {
        position: relative;
        width: 699px;
/*         left: -10px; */
    }
    .profile-email {
        position: relative;
        top: -44px;
        left: 187px;
        font-size: 5px;
        /*   left: 212px;
        top: 200px; */
        color: rgb(105, 157, 202);
    }
    .fa-edit {
        position: relative;
        left: 643px;
        top: -246px;
        color: #130f11;
    }
    .subscribe-count {
        font-weight: bold;
        color: #1273ff;
        font-size: 16px;
    }
     .vip-btn {
        position: relative;
        top: -62px;
        left: 142px;
    }
    .fa-bars {
        position: relative;
        left: 642px;
        top: -229px;
    }
    .VIP-p {
        display: inline-block;
        padding: 0.3em 0.5em;
        border-radius: 1em;
        background-color: #FFD700;
        color: #333;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1em;
      }
}




  
